{% macro metaTags() %}
	{# 
		Requiere:
		site['name']
		site['charset']
		page['title']
	 #}
	<meta charset="{{ g.site['charset'] }}" />
	<title>{{ g.page['title'] }} | {{ g.site['name'] }}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="googlebot" content="noindex,nofollow" />
{% endmacro %}