{% macro metaTags() %}
	{# 
		Requiere:
		site.name
		site.charset
		site.lang
		site.author

		page.title
		page.url
		page.description
		page.keywords
		page.image_post

		social.id_facebook
		social.twitter_user
	 #}
	<meta charset="{{ g.site.charset }}" />
	<title>{{ g.page.title }} | {{ g.site.name }}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="robots" content="index,follow" />
	<meta name="googlebot" content="index,follow" />
	<meta name="Revisit" content="7 days" />
	<meta name="author" content="{{ g.site.author }}" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="description" content="{{ g.page.description }}" />
	<meta property="og:locale" content="{{ g.site.lang }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ g.page.title }} | {{ g.site.name }}" />
	<meta property="og:site_name" content="{{ g.site.name }}" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ g.page.title }} | {{ g.site.name }}" />
	<meta name="twitter:description" content="{{ g.page.description }}" />
	{% if g.page.type_page != 'error' %}
	<meta name="keywords" content="{{ g.page.keywords }}" />
	<link rel="canonical" href="{{ g.page.url }}" />
	<meta property="og:url" content="{{ g.page.url }}" />
	<meta property="og:image" content="{{ g.page.image_post }}" />
	<meta property="fb:page" content="{{ g.social.id_facebook }}" />
	<meta name="twitter:site" content="{{ g.social.twitter_user }}" />
	<meta name="twitter:image" content="{{ g.page.image_post }}" />
	{% endif %}
{% endmacro %}